


#banner{
        color:#333333;
	border-top:2px solid #FFF;
	border-bottom:2px solid #FFF;
	padding-bottom:18px;
	padding-top:18px;
	text-align:center;
        
}

#contenedor {
    
    
    background-color: #ccffff;
    display:inherit;
    margin: 0 auto; 
    padding:1%;
    width: 60%;
    text-align: justify;

    
}


